.card {
  border: 1px solid #e1e1e1;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  box-shadow: 4px 4px -3px blue;
}

.card h1 {
  text-transform: uppercase;
  font-size: 20px;
}

.card p {
  margin: 5px 0;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.error {
  background-color: red;
}

.success {
  background-color: rgb(20, 167, 20);
}

p.black {
  color: black;
}

p.red {
  color: red;
  font-size: 24px;
}
